header {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-template-rows: repeat(1, 1fr);
 grid-template-areas:
 "nav nav logo contacts contacts";
 width: 1100px;
 font-family: 'Raleway','Arial', sans-serif;
 font-size: 18px;
 }

.header__location {
 margin-top: 92px;
 margin-bottom: 93px;
}

a {
  color: black;
  font-family: 'Raleway','Arial', sans-serif;
}

.active-link {
  text-decoration: none;
}


.nav {
  align-self: center;
  justify-self: center;
 }

.nav--header {
  grid-area: nav;
  margin-left: 47px;
  margin-bottom: 4px;
  width: 392px;
}

.nav__menu {
  text-transform: lowercase;
  font-family: 'Raleway','Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
 }

.nav__menu--row {
 display: flex;
 gap: 21px;
 flex-direction: row;
 list-style-type: circle;
 justify-content: space-between;
}

.nav__item {
  padding-bottom: 2px;
  margin-left: 2px;
  list-style-type: none;
  text-decoration: none;
}

.header__logo {
  align-self: center;
  justify-self: center;
}

.header__logo--location {
  grid-area: logo;
  width: 148px;
}

.address {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  font-family: 'Raleway','Arial', sans-serif;
}

.address--header {
  grid-area: contacts;
  width: 230px;
  padding-top: 0px;
  margin-top: 4px;
  margin-left: 151px;
}

.cover {
  display: block;
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../images/cover.jpg");
  background-size: cover;
}

.cover--location {
  margin-right: 30px;
  width: 1100px;
}

.cover__content {
  display: inline-block;
  font-family: 'Raleway','Arial', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: white;
  letter-spacing: 30px;
}

.cover__content--align-text-start {
  display: inline-block;
  padding: 163px 0px 0px 51px;
  width: 100%;
  text-align:start;
  text-transform: uppercase;
}

.cover__content--align-text-center {
  display: inline-block;
  padding: 18px 0px 0px 31px;
  width: 100%;
  text-align:center;
  text-transform: uppercase;
}

.cover__content--align-text-end {
  display: inline-block;
  padding: 18px 19px 0px 0px;
  width: 100%;
  text-align:end;
  text-transform: uppercase;
}

.text {
  display: inline-block;
  font-family: 'Raleway','Arial', sans-serif;
  letter-spacing: -1.9px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 19px;
  font-size: 25px;
}

.text--location {
  margin-top: 115px;
  margin-bottom: 60px;
  margin-left: 50px;
}

.text__border-button {
  border: 1px solid white;
  color: white;
  font-family: 'Raleway','Arial', sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.3px;
  word-spacing: -3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00000000;
}

.text__border-button--location {
  margin-left: 84px;
  padding: 12px 31px;
}

.title {
  display: flex;
  font-family: 'Raleway','Arial', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

 .title--location {
   align-items: flex-end;
   flex-direction: row-reverse;
   width: 184px;
   margin-top:181px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style-type: none;
  gap: 25px;
}

.card--location {
  margin-top: 27px;
  margin-left: 23px;
  width: 1052px;
}

.card__content {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-size: 164% 100%;
 background-position: -107px 0px;
}

.card__content--location {
  width: 334px;
  min-height: 596px;
}

.content__heading {
  flex-direction: column;
  justify-content: space-between;
  font-family:  'Raleway','Arial', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline solid 1px;
}

.content__heading--location {
  margin-top: 47px;
  margin-left: 41px;
  width: 254px;
}

.content__description {
  line-height: 1.2;
  flex-direction: column;
  justify-content: space-between;
  font-family:  'Raleway','Arial', sans-serif;
  color: white;
  font-size: 20px;
}

.content__description--location {
  margin-bottom: 48px;
  margin-left: 41px;
  width: 254px;
}

.card__content--film {
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../images/card-lot-01.jpg);
}

.card__content--book {
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../images/card-lot-02.jpg);
}

.card__content--picture {
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../images/card-lot-03.jpg);
}
/*
.card__content--?{
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(?);
}
*/
.location-link-lots {
  white-space: nowrap;
  margin-top: 28px;
  margin-left: 65px;
  font-weight: 400;
  font-size: 20px;
  width: 192px;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about--location {
  margin-left: 24px;
  margin-top: 111px;
}

.about__logo-column {
  display: flex;
  background-color: black;
  border-radius: 120px;
}

.about__logo-column--location {
  margin-top: 43px;
  margin-left: 45px;
  width: 240px;
  height: 240px;
}

.logo-column__logo-white {
  display: block;
  background-size: cover;
 }

.logo-column__logo-white--location {
  width: 148px;
  height: 114px;
  margin-top: 62px;
  margin-left: 48px;
}

.about__completion {
  margin-top: 142px;
  margin-right: 25px;
  width: 693px;
 }

.completion__article {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-top: 100px;
}

.article__item {
  line-height: 1.2;
  width: 693px;
  font-family: 'Raleway','Arial', sans-serif;
  letter-spacing: 0.1px;
  word-spacing: -0.7px;
  font-weight: 400;
  font-size: 20px;
}

footer {
  margin-top: 183px;
  margin-bottom: 24px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "x1 x2 x3";
  align-items: start;
  font-family: 'Raleway','Arial', sans-serif;
  font-size: 18px;
  list-style-type: none;
  width: 1100px;
}

.address--footer {
  margin-left: 51px;
  padding-bottom: 2px;
  grid-area: x1;
  width: 240px;
}

.nav--footer {
  margin-bottom: 91px;
  margin-left: 14px;
  grid-area: x2;
  width: 164px;
}

.nav__menu--column {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-transform: lowercase;
  text-align:center;
}

.footer__more {
  grid-area: x3;
  margin-left: 87px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 48px;
  width: 240px;
}
