header {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-template-rows: repeat(3, 1fr);
 grid-template-areas:
 ". . . . ."
 "nav nav logo contacts contacts"
 ". . . . .";
 width: 1100px;
 font-family: 'Raleway','Arial', sans-serif;
 font-size: 18px;
 padding-bottom: 18px;
}

a {
 color: black;
 text-decoration: none;
 font-family: 'Raleway','Arial', sans-serif;
}

address {
 font-style: normal;  
 width: 264px;
 margin-top: 0px;
 margin-left: 0px;
}
   

.row {
 display: flex;
 gap: 33px;
 flex-direction: row;
 text-transform: lowercase;
 list-style-type: circle;
 justify-content: space-between;
 font-family: 'Raleway','Arial', sans-serif;
 font-weight: 400;
 font-size: 18px;
}

.top {
 padding-bottom: 2px;
 margin-left: 0px;
 list-style-type: none;
 text-decoration: none;
}

.lots-border {
 display: flex;
 flex-direction: column;
 white-space: nowrap;
}

.lots-border::after {
 content: '';
 background: black;
 margin: auto;
 width: 149px;
 height: 1px;
}

.about-the-auction-border {
 display: flex;
 flex-direction: column;
 white-space: nowrap;
}

.about-the-auction-border::after {
 content: '';
 background: black;
 margin: auto;
 width: 109px;
 height: 1px;
}

.from_the_article {
 padding-bottom: 24px;
 width: 693px;
 font-family: 'Raleway','Arial', sans-serif;
 letter-spacing: 0.1px;
 word-spacing: -0.7px;
 font-weight: 400;
 font-size: 20px;
}

/*.from_the_top {
 padding-bottom: 24px;
 width: 689px;
 font-family: 'Raleway','Arial', sans-serif;
 letter-spacing: 0.1px;
 word-spacing: -0.7px;
 font-weight: 400;
 font-size: 20px;
}

.From_the_bottom {
 margin-top: 1px;
 padding-right: 6px;
 width: 693px;
 font-family: 'Raleway','Arial', sans-serif;
 letter-spacing: 0px;
 word-spacing: 0px;
 font-weight: 400;
 font-size: 20px;
}
*/ 

.header-ul {
 grid-area: nav;
 margin-left: 49px;
 align-self: center;
 justify-self: center;
 width: 392px;
}

.contacts {
 grid-area: contacts;   
 width: 230px;
 margin-top: 4px;
 margin-left: 151px;
 display: flex;
 white-space: nowrap;
 flex-direction: column;
 line-height: 1.38;
 letter-spacing: -0.2px;
 word-spacing: 1px;
 font-family: 'Raleway','Arial', sans-serif;
}

.logo {
 grid-area: logo;
 align-self: center;
 justify-self: center;
 width: 148px;
}

.cover {
 display: block;
 margin-right: 30px;
 width: 1100px;
 background-image: url("../images/cover.jpg");
 background-size: cover;
 /*background-size: 123% 104%;
 background-position: -128px -24px;*/
 }
 
.content {
 display: block;
 font-family: 'Raleway','Arial', sans-serif;
 font-size: 100px;
 font-weight: bold;
 color: white;
 letter-spacing: 30px;
}

.string-a {
 display: inline-block;
 text-transform: uppercase;
 margin-top: 128px;
 margin-left: 49px;
}

.string-b {
 display: inline-block;
 text-transform: uppercase;
 margin-top: 17px;
 margin-left: 380px;
}

.string-c {
 display: inline-block;
 text-transform: uppercase;
 margin-top: 17px;
 margin-left: 663px;
}

.roll {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 gap: 25px;
 margin-top: 158px;
 margin-left: 23px;
 width: 1052px;
}

.text {
 display: inline-block;    
 margin-top: 118px;
 margin-bottom: 58px;
 margin-left: 48px;
 font-family: 'Raleway','Arial', sans-serif;
 letter-spacing: -1.9px;
 color: white;
 font-weight: normal;
 text-transform: uppercase;
 word-spacing: 19px;
 font-size: 25px;
}

.border-button {
 margin-left: 84px;
 border: 1px solid white;
 padding: 12px 31px;
 color: white;
 font-family: 'Raleway','Arial', sans-serif;
 font-weight: 400;
 font-size: 22px;
 letter-spacing: 0.3px;
 word-spacing: -3px;
 text-decoration: none;
 text-transform: uppercase;
 background-color: #00000000;
}

.card {
 width: 334px;
 min-height: 596px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-size: 164% 100%;
 background-position: -107px 0px;   
}

.lots {
 margin-top: 23px;
 margin-left: 40px;
 display: inline;
 font-family: 'Raleway','Arial', sans-serif;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 40px;
 width: 1052px;
}

.link-lots {
 white-space: nowrap;
 margin-top: 11px;
 margin-left: 41px;
 grid-area: more;
 display: flex;
 font-family: 'Raleway','Arial', sans-serif;
 font-weight: 400;
 font-size: 20px;
 width: 192px;
}

.link-lots::after {
 content: '';
 background: black;
 margin-top: 22px;
 margin-left: -191px;
 width: 191px;
 height: 1px;
}

.box-lots::after {
 content: '';
 background: black;
 margin-top: 0px;
 margin-left: 0px;
 width: 145px;
 height: 1px;
}

.box-about::after {
 content: '';
 background: black;
 margin-top: -2px;
 margin-left: 0px;
 width: 107px;
 height: 1px;
}

.about {
 margin-left: 24px;
 margin-top: 111px;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.logo-column {
 margin-top: 43px;
 margin-left: 45px;
 display: flex;
 width: 240px;
 height: 240px;
 background-color: black;
 border-radius: 120px;
}

.logo-white {
 display: block;
 background-size: cover;
 width: 148px;
 height: 114px;
 margin-top: 62px;
 margin-left: 48px;
}

article {
 margin-top: 142px;
 margin-right: 25px;
 display: grid;
 width: 693px;
}

.article {
 display: flex;
 flex-direction: column;
 margin-top: 100px;
}

footer {
 margin-top: 158px;
 padding-right: 15px;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-areas:
 "x1 x2 x3";
 align-items: start;
 font-family: 'Raleway','Arial', sans-serif;
 font-size: 18px;
 list-style-type: none;
 width: 1100px;
}

.contacts-footer {
 align-self: start;
 margin-left: 51px;
 padding-bottom: 2px;
 grid-area: x1;
 width: 240px;
 display: flex;
 flex-direction: column;
 line-height: 1.38;
 letter-spacing: -0.17px;
 word-spacing: 1px;
 font-family: 'Raleway','Arial', sans-serif;
}

.footer-ul {
 display: block;
 margin-top: 0px;
 margin-left: 17px;
 grid-area: x2;
 align-self: start;
 justify-self: center;
 list-style-type: none;
 text-transform: lowercase;
 width: 164px;
}

.more {
 grid-area: x3;
 margin-left: 87px;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-column-gap: 48px;
 width: 240px;
}

.card_heading {
 margin-top: 50px;
 margin-left: 41px;
 width: 254px;
 flex-direction: column;
 justify-content: space-between;
 font-family:  'Raleway','Arial', sans-serif;
 color: white;
 font-weight: bold;
 font-size: 22px;
 text-transform: uppercase;
 text-decoration: underline solid 1px;
}

.card_description {
 margin-bottom: 43px;
 margin-left: 41px;
 width: 254px;
 flex-direction: column;
 justify-content: space-between;
 font-family:  'Raleway','Arial', sans-serif;
 color: white;
 font-size: 20px;
}

.description {
 font-family:  'Raleway','Arial', sans-serif;
 font-weight: bold;
 font-size: 40px;
 text-transform: uppercase;
}

.column {
 display: flex;
 flex-direction: column;
 align-items: center;
 display: flex;
 text-transform: lowercase;
 list-style-type: none;
 justify-content: space-between;
 font-family: 'Raleway','Arial', sans-serif;
 font-weight: 400;
 font-size: 18px;
}

.telephone {
 display: flex;
 white-space: nowrap;
 margin-top: -1px;
 margin-left: -1px;
 width: 240px;
 height: 24px;
}

.telephone::after {
 content: '';
 background: black;
 margin-top: 22px;
 margin-left: -132px;
 width: 132px;
 height: 1px;
}

.email {
 display: flex;
 white-space: nowrap;
 margin-top: 0px;
 margin-left: -1px;
 width: 240px;
 height: 24px;
}

.email::after {
 content: '';
 background: black;
 margin-top: 23px;
 margin-left: -129px;
 width: 132px;
 height: 1px;
}


